# Ignora tudo no diretório raiz
/*

# Permite o .gitignore e as pastas das questões
!/.gitignore
!/questao01/
!/questao02/
!/questao03/

# Ignora arquivos temporários e de compilação em qualquer nível
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
